.generation-properties {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 46em;
    height: 52px;
    border-radius: 20px;
}

.generation-properties div {
    margin: 0;
}

/* Докуп продуктов */
.add-products-checkbox {
    position: relative;
    background: #fff;
    border-radius: 10px;
}
.add-products-checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    font-family: "Montserrat", semiBold, sans-serif;
    font-style: normal;
    font-size: 20px;
    margin: 0 auto;
    width: auto;
    padding: 16px;
    height: 52px;
    border-radius: 10px;
}

#add-products {
    appearance: none;
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
}

/* Галочка */
.add-products-checkmark {
    position: absolute;
    left: 24px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

#add-products:checked + .add-products-checkmark {
    opacity: 1;
}

/* Сортировка */
.sort-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.sort-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: "Montserrat", semiBold, sans-serif;
    font-style: normal;
    font-size: 20px;

    margin: 0 auto;
    width: auto;
    padding: 16px;
    height: 52px;
    background: #fff;
    border-radius: 10px;
    border: none;
}

.sort-icon {
    width: 32px;
    height: 32px;
    background: #E0E0E0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-icon img {
    width: 20px;
    height: 20px;
    fill: #333;
}

#sortIcon {
    transition: transform 0.3s ease-in-out;
}

#sortIcon.rotated {
    transform: rotate(180deg);
}

.sort-menu {
    position: absolute;
    top: 60px;
    width: 192px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0s 0.4s;
}

.sort-menu.open {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}


.sort-option {
    padding: 12px 14px;
    text-align: left;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    font-size: 15px;
}

.sort-option:hover {
    background-color: #f0f0f0;
}

.sort-option.active {
    background-color: #D9D9D9;
    font-weight: bold;

}

#sortLabel {
    font-family: "Montserrat", semiBold, sans-serif;
    font-style: normal;
    font-size: 20px;
}

.recipes {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 1em;

    width: 46em;
    height: auto;

    background: #ffffff;
    border-radius: 20px;
}

.recipe-cards {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.recipe-card {
    display: flex;
    border-radius: 10px;
    align-self: stretch;
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card h2 {
    font-family: "Montserrat", semiBold, serif;
    font-size: 1.25em;
}

.recipe-card p {
    font-family: "Montserrat", serif;
    font-size: 1em;
}

.recipe-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    flex-shrink: 0;
}

.recipe-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-family: "Montserrat", sans-serif;
}

.recipe-text h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 600;
}

.recipe-text p {
    margin: 0.3em 0;
}
